@model Shopping_Tutorial.Models.ThongSoKyThuatModel
l
@{
    ViewData["Title"] = "Thêm thông số kỹ thuật";
}

<h3>Thêm Thông Số Kỹ Thuật</h3>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Sản phẩm</label>
        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductList">
            <option value="">-- Chọn sản phẩm --</option>
        </select>
    </div>

    <div class="form-group">
        <label>Camera</label>
        <input asp-for="Camera" class="form-control" />
        <span asp-validation-for="Camera" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>CPU</label>
        <input asp-for="CPU" class="form-control" />
    </div>

    <div class="form-group">
        <label>RAM</label>
        <input asp-for="RAM" class="form-control" />
    </div>

    <div class="form-group">
        <label>Chip</label>
        <input asp-for="Chip" class="form-control" />
    </div>

    <div class="form-group">
        <label>Pin</label>
        <input asp-for="Pin" class="form-control" />
    </div>

    <div class="form-group">
        <label>Màn hình</label>
        <input asp-for="Screen" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-2">Thêm mới</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Quay lại</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
